{% extends "layoutMyProgect.html" %}

{% block title %}
Інтер`єр
{% endblock %}

{% block body %}
<body id="inter">
<div class="menu">
<a class="btn btn-success" href="/">Головна</a>
<a class="btn btn-success" href="/about">Про наш сайт</a>
<a class="btn btn-success" href="/whatfirst">З чого почати</a> 
<a class="btn btn-success" href="/komunikacii">Комунікації</a> 
<a class="btn btn-warning" href="/interior">Інтер'єр</a>
<a class="btn btn-success" href="/catalog">Довідник</a> 
<a class="btn btn-success" href="/club">Клуб</a>
{% if current_user.is_authenticated %}
<a class="btn btn-info pull-right" href="/logout">Вихід</a>
{% else %} 
<a class="btn btn-info pull-right" href="/l">Вхід</a>
{% endif %}
</div><br>
<div>
<h2>Інтер'єр.</h2><br>
<p> Тема дизайну, стилю, декору така неосяжна и вже описана в незліченій кількості статей.
Смаки у всіх різні. Тож давати якісь рекомендаціїї в цих питаннях - річ невдячна.
А от виділити маленькі деталі, що стосуються практичності, ергономічності все ж таки варто.<br>
Почнемо з кутів. І мова не про ті, куди ставлять в покарання. Мова про всі ті кути-кутики столів, стільців, які вичікують варто про них забути. І маємо синці.
В кожного є такий 'улюблений' кут, де стабільно ловляться нові й нові синці. Тому в нову оселю є привід придбавати нові меблі, в яких кути
будуть скругленими. Або можна обновити наявні меблі під новий інтер'єр, а заодно зкруглити і кути.
Здавалося б - така дрібниця, але чомусь до її усунення то руки не доходять, то грошей немає. То ж легше спрацювати на випередження.<br>
<br><img alt="stol" src="{{ url_for('static', filename='inter3.jpg') }}"><br>
Далі - меблі-трансформери. І ніхто тут не каже про хайтек (прибічники класики, живіть спокійно).
Сучасний ринок меблевої фурнітури насичений такими різноманітними винаходами, що пропорційно до росту асортименту фурнітури росте
асортимент столів, крісел, диванів, тумб, що трансформуються у щось протилежне, або змінюють розмір.
Кавові столики перетворюються на великі святкові столи. 
<br><img alt="diwan" src="{{ url_for('static', filename='inter2.jpg') }}"><br>
Дивани складаються з декількох мобільних секцій, іх спинки і боковинки з'ємні і в результаті маємо
з 5-7 варіантів розташування лише для одного дивана.
Стільці трансформуються в етажерки або драбини з підставками (що незайве в приватному будинку, де стелі високі).
Журнальні столики-пуфики і ще багато чого - гугл в допомогу, як то кажуть.
<br><img alt="stul" src="{{ url_for('static', filename='inter4.jpg') }}"><br>
Посил такий: не зациклюйтесь на звичному. Навіть з малим бюджетом, але конкретними кресленями чи зразками з інтернету вам місцевий
майстер зробить унікальну річ.<br>
Тепер про кольори. <br><img alt="color" src="{{ url_for('static', filename='inter5.jpg') }}"><br> 
Припустімо, меблі нові і переїжджатимуть з вами у будинок. Але кольори стін хочеться інші, та меблі в них не вписуються.
Не біда. Майстринь-швачок повно. Замовте чохли не блискавці або на липучках. Їх легко кріпити на боковинах, по периметру, а подушки просто вдягабться як в напірники.
Дешево, необмежений вибір тканин, економніше за повну перетяжку.
<br><img alt="color" src="{{ url_for('static', filename='inter6.jpg') }}"><img alt="color" src="{{ url_for('static', filename='inter7.jpg') }}"><br>
Лекго доглядати - зняв, поправ, попрасував і як нове. Легко змінити на нове (головне збережіть лекала після першого комплекту, щоб не довелося
наново переміряти).<br> 
Щодо кухні, то не полінуйтеся - спропуйте намалювати схему вашого звичного пересування по кухні під час приготування їжі. Подумайте,
чи це вас влаштовує, можливо давно хотіли щось поміняти місцями, та старий простір не дозволяв. Прислухайтесь до себе і матимете
найкомфортнішу кухню.<br>
Тепер щодо стін. Якщо є діти (а вони полюбляють на них малювати), або ж ви самі не проти домашнього графіті, то запасіться плівками під маркери або крейду, які
зараз широко розповюджені. Але заплануйте де саме будуть ці зони малювання, щоб підлаштувати розташування
меблів. Також альтернативою є фарба, що дозволяє малювати без наслідків (але це більш затратний варіант). Коротше, щоб потім не плакати над зіпсованим свіжим ремонтом,
заплануйте зону для творчості.</div><br>
</body>
{% endblock %}