{% extends "layoutMyProgect.html" %}

{% block title %}
Комунікації
{% endblock %}

{% block body %}
<div class="menu">
<a class="btn btn-success" href="/">Головна</a>
<a class="btn btn-success" href="/about">Про наш сайт</a>
<a class="btn btn-success" href="/whatfirst">З чого почати</a> 
<a class="btn btn-warning" href="/komunikacii">Комунікації</a> 
<a class="btn btn-success" href="/interior">Інтер'єр</a>
<a class="btn btn-success" href="/catalog">Довідник</a> 
<a class="btn btn-success" href="/club">Клуб</a>
{% if current_user.is_authenticated %}
<a class="btn btn-info pull-right" href="/logout">Вихід</a>
{% else %} 
<a class="btn btn-info pull-right" href="/l">Вхід</a>
{% endif %} 
</div><br>
<div>
<h2> Комунікації. </h2><br>
<a href="#elektro"><figure><img alt="electrika" src="{{ url_for('static', filename='rozetka1.jpg') }}"><figcaption>Електрика</figcaption></figure></a><br>
<a href="#water"><figure><img alt="water" src="{{ url_for('static', filename='water1.jpg') }}"><figcaption>Вода</figcaption></figure></a><br>
<a href="#air"><figure><img alt="air" src="{{ url_for('static', filename='air1.jpg') }}"><figcaption>Вентиляція</figcaption></figure></a><br>
<p> Якщо фундамент, стіни і дах - це основа-скелет будинку, то комунікації - 
це його артерії і вени. Правильно закладіть комунікації і користуватися благами
 цивілізації буде лего і приємно, а також, що найважливіше, безпечно.<br>
ДСТУ і різні будівельні норми чітко описують технічні вимоги до матеріалів, 
глибини їх закладання, та багато інших параметрів. Але в жлдному ДСТУ 
не передбачені особливості під ваші потреби. Які саме - розглянемо зараз. 
</div><br>
<div id="elektro"><u>Електрика</u> в будинку першою спадає на думку. 
Будь-який електрик може прокласти проводку в вашому будинку, але йому потрібно 
вказати, де саме ви хочете розташувати розетки, вимикачі, лічильник і стабілізатор напруги. 
Також потрібно вказати скільки освітлювальник приладів з окремим режимом роботи
 буде в кожному приміщенні, щоб знати скільки кабелів заводити.
<p>Розглянемо конкретніше всі ці моменти:<br>
<ul><img alt="electrika" src="{{ url_for('static', filename='rozetka2.png') }}"><br>
    <li>Розетки (кількість, висота):<br>
        <ul><li>якщо є малі діти, коти, собаки, то розетки бажано розмістити повище, 
        або для них всіх одразу придбати заглушки;</li> 
        <li>різномаїття рішень дозволяє вдало розташовувати розетки в підлозі під меблями;</li>
        <li>на кухні їх бажано підняти повище, щоб бризки випадково не потрапили в отвори, а також 
        шнури міксерів, блендерів та іншого устаткування були в підвішеному стані 
        (на кухоних поверхнях не будуть лежати бруднитись і займати робочі поверхні);</li>
        <li>якщо плануєте робити острівну кухню, розетки вдало розміщуються на бокових
        поверхнях острова;</li>
        <li>у ванній кімнаті окрім фену і пральної машинки часто потрібно ввімкнути
        електричні сушарки для рушників, тобто потрібно передбачити 
        не одну, а декілька розеток для одночасного користування 
        (бажано, спеціальні - для вологих приміщень);</li>
        <li>в технічних приміщеннях (гараж, домашня майстерня) можуть бути потрібні
        розетки з підвищеною напругою;</li>
        <li>приємний бонус власного будинку - майже всі зручності можна передбачити і надворі,
        в тому числі і розетки (для портативної мийки, поливалки и т.д) на фасаді будинку, в зоні
        веранди, тощо;</li>
        <li>загальну кількість розеток розрахуйте на всі постійно ввімкнені в мережу прилади плюс декілька вільних про запас,
        щоб не псувати гарний інтер'єр перехідниками.</li></ul></li><br>
        <img alt="electrika" src="{{ url_for('static', filename='rozetka3.jpg') }}"><br>
    <li>Освітлення (кількість, автономність, висота вимикачів):<br>
        <ul><li>висота розташування вимикачів залежить від вашого зросту і звичок (на рівні опущеної/піднятої руки),
        а також від наявності дітей (вам подобається дитяча самостійність, або ви не допускаєте своє чадо до елктрики взагалі);</li>
        <li>кількість вимикачів дорівнює кількості автономних джерел освітлення;</li>
        <li>автономні джерела освітлення - це лампи, світильники, бра, тощо, які можна вмикати/вимикати незалежно
        одне від одного. Комусь досить однієї, але великої люстри, а хтось любить прилаштувати особливе світло для кожної
        окремої зони в кімнаті. Тому потрібно визначитись заздалегідь з вашими побажаннями, щоб одразу завести в приміщення
        необхідну кількість кабелів. Інакше після ремонту може з'ясуватись, що, наприклад, сходи потребують додаткового бра, поблизу немає розеток для подовжувача,
        і необхідно псувати свіженьку стіну - довбати жолоб під проводку;</li>
        <li>для кухні важливо визначити, як освітлювати робочі поверхні: якщо лампи кріпляться під полички і вмикаються в розетку,
        то для них до загальної кількості ще плюс Х розеток;</li>
        <li>вуличне освітлення можна вмикати знадвору, а можна і з приміщення - як вам буде зручніше?</li>
        <li> багатьом подобається в закордонних готелях вмикати світло при вході в номер, а вимикати вже в ліжку, й навпаки. Цей варіант запросто
        зробити вдома, але це також слід врахувати в схемі підключень.</li></ul></li><br>
    <li>Лічильники, стабілізатори та інше:<br>
        <ul><li>зазвичай тамбур чи коридор найпідходящі. Але раптом ви з порогу плануєте вишуканий дизайн -
        короб з приладами в нього може не вписатись. Тож можна розглянути варіанти кухня, підвал, гараж (якщо він в будинку).</li></ul></li><br>                                                                      
    <li>Інтернет також пропонуєм розглянути саме в цьому блоці, оскільки розетки для кабелю завжди супроводжують звичні розетки -<br>
        <ul><li>вай-фай вирішує проблему з пересуванням з ноут-буком по будинку, але стаціонарний компьютер все ж таки потребує
        під'єднання через кабель;</li>
        <li>якщо у вас буде підвал, а в ньому майстерня, чи гараж, сучасні матеріали не дадуть отримувати там стабільний сигнал вай-фай,
        а автолюбитель чи мастеровий господар можуть потребувати іноді відео-підказок з інтернету, то ж не слід позбавляти себе
        можливості вільно користуватись інтернетом і там;</li>
        <li>якщо ви з числа людей, що вдома намагаються зменшити вплив різних хвиль на організм, то вай-фай не для вас, отже для
        всіх кімнат, кухні, веранди, тощо одразу заплануйте прокладання інтернет кабелів.</li>
</ul>
</div><br>
<div id="water"><u>Вода</u> потрібна нам в кухні, ваній кімнаті, туалеті.<br>
 <img alt="water" src="{{ url_for('static', filename='water4.jpg') }}"><br>
 Але в приватному будинку
є можливість вивести крани на вуличний бік стіни будинку, щоб за потреби під'єднати шланг і помити авто, полити клумби, город. 
<br><img alt="water" src="{{ url_for('static', filename='water2.jpg') }}"><br>Якщо
город з одного боку території, а авто можна припаркувати лише біля воріт, то потрібно мати окремі крани з різних боків будинку.<br>
<br>
<img alt="water" src="{{ url_for('static', filename='water3.jpg') }}"><br>
<br>Повернемось ще раз до внутрішніх водних зон. В кухні зараз часто роблять окремі мийки для посуду і овочів/фруктів, при цому вони не обов'язково
мають бути поруч, наприклад, мийка для їжі може бути вмонтована в острів; також є 
посудомийна машинка, то ж потрібно передбачити крани і зливи для них всіх.<br>
Якщо вана кімната і туалет будуть відокремлені, то можна в туалеті передбачити вхід/злив для маленького рукомийника. Також мало кому подобається
брудне відро для миття підлоги ставити в чисту вану, щоб набрати води, або натягувати для цього кожен раз шланг. Передбачте для таких технічних
потреб окремий кран, наприклад, біля унітазу, на такій висоті, щоб легко було підставити відро.   
</div><br>
<div id="air"><u>Вентиляція</u> в багатьох асоціюється з решітками над плитою і ваною, які час від часу приходять перевірити газовики.
<img alt="air" src="{{ url_for('static', filename='air3.png') }}"><br>
Але, насправді, в багатьох нормативних документах по будівництву прописані розділи про вентиляцію в житлових, нежитлових, робочих приміщеннях.
Масовий перехід на метало-пластикові вікна створив проблему невентильованих приміщень.
<br>
<img alt="air" src="{{ url_for('static', filename='air2.jpg') }}"><br>
<br>Раніше столярка пропускала достатню кількість
свіжого повітря, але все одно в багатьох цегляних хрущовках можна знайти вентиляційні отвори в кімнатах. В висотках цього вже немає.
Реклама весь час пропонує нові освіжувачі повітря, але ж набагато краще просто передбачити
вентиляцію для кожної кімнати. Це допомагає підтримувати здоровий клімат в помешканні весь час, а не тільки коли ви вдома і можете відкрити вікна.
Тим більш сучасні технології пропонують готові пластикові вентиляційні короби, які легко монтуються при зведенні стін будинку. Також природна
вентиляція в поєднанні з цегляними стінами/газоблоковими дасть влітку свіжу прохолоду, взимку економію тепла, і не потрібно витрачатись на
кондиціонери. А для любителів альтернативних джерел енергії на ринку є пропозиції по повторному використанню тепла, що виходить з вашої вентиляції.
Одні плюси та й тільки.<br>
</div><br>
{% endblock %}