{% extends "layoutMyProgect.html" %}

{% block title %}
З чого почати
{% endblock %}

{% block body %}
<div class="menu">
<a class="btn btn-success" href="/">Головна</a>
<a class="btn btn-success" href="/about">Про наш сайт</a>
<a class="btn btn-warning" href="/whatfirst">З чого почати</a> 
<a class="btn btn-success" href="/komunikacii">Комунікації</a> 
<a class="btn btn-success" href="/interior">Інтер'єр</a>
<a class="btn btn-success" href="/catalog">Довідник</a> 
<a class="btn btn-success" href="/club">Клуб</a>
{% if current_user.is_authenticated %}
<a class="btn btn-info pull-right" href="/logout">Вихід</a>
{% else %} 
<a class="btn btn-info pull-right" href="/l">Вхід</a>
{% endif %}
</div><br>
<div>
<h2> З чого ж почати... </h2><br>
<a href="#plan">Орієнтація на місцевості</a><br>
<a href="#size">Загальна площа</a><br>
<a href="#roof">Дах</a><br>
</div>
<div>
<p> <img alt="land" src="{{ url_for('static', filename='land3.jpg') }}" align=left-top hspace=10px vspace=10px class = "picture"/><br>
<div id="plan"><u>Давайте зорієнтуємось на місцевості.</u></div><br>
В вас вже є ділянка для будівництва, і значить є її план. 
Якщо ділянки ще нема, тоді будемо створювати ваш ідеальний варіант розташування будинку.
Якщо є ділянка, але на ній вже є певні споруди, а ви не впевненні чи варто їх руйнувати, чи краще будуватись на їх основі, тоді на бажаний варіант розташування можна буде накласти
ці споруди і побачити як вони вписуються в загальну картину. 
<p> В спекотних краях шукають затінок, а в наших - варіанти з економного обігріву оселі (тарифи на опалення нижчими не стають).
Чи ви будуєте з цегли, чи з газоблоку, саману чи деревини, тощо, ваші вікна є додатковою зоною втрати/надходження тепла і світла.
Тому дуже важливо щоб якомога більше сонячного світла потрапляло не на глуху стіну чи вікно тамбуру, а у вікна кімнат. Бажано, щоб і кухня не була в затінку, якщо ви плануєте в ній не лише готувати, а й виділити зону
їдальні.
Стає зрозумілим, що ідеальний варіант, коли вікна кімнат виходять на південь, схід і захід, а технічні приміщення, санвузли будуть с північного боку. 
Хтось подумає: літо в нас таке спекотне, що краще б все на північ виходило. Але, панове, асортимент жалюзів, штор такий великий, що затулитися в спеку від сонця можна на сто відсотків.
Прохолода більше залежить від того, який матеріал ви обрали для стін. Для цьго можна перечитати спеціалізовані сайти, наприклад <a href='http://www.builderclub.com/statia/steny-doma-kirpich-ili-gazobeton'>тут</a> 
або будь-який інший.<br>
<img alt="sunnyroom" src="{{ url_for('static', filename='window.jpg') }}" align=right hspace=10px vspace=10px class = "picture"/><br>
Кімнати, які щедро залиті сонцем, виглядають завжди більш затишними, світлими (навіть при темних стінах і меблях). Вони тепліші, особливо відчувають ті, хто ходить без капців.
Також загальновідомо, що ультрафіолет добре знищує хвороботворні організми. Тож відкриті вікна допоможуть не лише провітрити кімнату, а й &#171;оздоровити&#187; її.
<p> З власного досвіду перевірено: в тих кімнатах, які розташували вікнами на південний схід, батареї ввімкнули при нижчих температурах, ніж в інших кімнатах (наприклад на вулиці +10 - ввімкнули в затемнених кімнатах, при +6 - сонячних). Це
при поступовому похолоданні можна не вмикати в сонячних кімнатах тижні 2-3. А це відчутна економія.
До того ж взимку при раптовому потеплінні в цих же кімнатах можна прикрутити батареї на мінімум (або взагалі вимкнути, якщо дуже тепло) і вони будуть ще довго тримати своє тепло.
<img alt="kitchen" src="{{ url_for('static', filename='kitchen.jpg') }}" align=left hspace=10px vspace=10px class = "picture"/><br>
<p> Щодо кухні, то, по великому рахунку, вона сама добре нагрівається під час експлуатації: від плит, мікрохвильовок, холодильника (задня стінка його добряче гріє).
А для приготування страв все одно бажано вмикати точкові світильники (над робочою поверхнею, мийкою), щоб не псувати зір. Тому якщо умови не дозволяють вигідно освітити і це приміщення - не засмучуйтесь.<br>                                                                                                                                    
<p> Не всі приватні будинки можуть похвалитись великою прибудинковою територією (особливо, якщо вони в центрі міста). Тому сонячні підвіконня будуть великим бонусом для любителів власної городини. Це, звісно, не замінить теплицю чи зимовий сад,
але гарно висаджені в горщики травки (базилік, курчава петрушка, зелена цибуля тощо), помідорки черрі, міні-перчики та інша підвіконна городина не зіпсують естетики кімнат, зате порадують маленьким врожаєм.<br>                                                                                        
<img alt="plant" src="{{ url_for('static', filename='plants.jpg') }}" align=right hspace=10px vspace=10px class = "picture"/><br>
</div>
<div id="size">
<p>А якою буде <u>загальна площа</u>, розмір кімнат і їх кількість, скільки поверхів?</div><br> Дайте відповіді на такі питання:<br>
<ol>
<li>Яку суму в місяць ви готові сплачувати за опалення? Враховуючи (оберіть потрібне):</li>
    <ul><i>
    <li>а) будете опалювати газом</li>
    <li>б) буде електричне опалення від загальних мереж</li>
    <li>в) буде власне автономне опалення від альтернативних джерел</li>
    </i></ul>
<p>Відповідь на це питання впливає майже на все: на висоту стелі, кількість і розмір кімнат, кількість і вартість будівельних матеріалів. 
<li>Скільки буде постійних мешканців? </li><br>
<li>Чи влаштовують вас розміри кімнат, в яких ви мешкаєте зараз? Якщо ні, то визначіть для себе кімнату, в якій вам достатньо місця (де в гостях вам затишно?).</li>
<p>Відповідь на це питання дасть вам орієнтовні розміри для кожної з кімнат, що в сумі покаже вашу потенційну загальну площу. А це, в свою чергу, в сумі з питанням номер 1 дає певні відповіді.
<li>Скільки поверхів ви хотіли б? Чи розміри ділянки і загальна площа з попереднього пункту це дозволяють? </li><br>
<li>А що з гаражем?</li>
<ul><i>
    <li>а) чи потрібен зараз, чи може буде потрібен найближчим часом</li>
    <li>б) чи будуть окремі господарчі приміщення, чи гараж буде також частково сараєм і погребом</li>
    </i></ul>
<p> Потрібно розуміти, чи гараж буде окремою спорудою, чи його потрібно вписати в план будинку (підвальний гараж, прибудова збоку...)
</ol>
<p>В підсумку на папері стане видно бажані розміри площі, стане зрозуміло приблизну вартість матеріалів на зведення коробки. І вже ці цифри вписувати в розміри ділянки і гаманця.
<br>
<div id="roof"><p><u>Дах.</u></div> Несподівано, але не слід відносити це питання до другорядних.<br>
Наприклад, ви хочете одноповерховий будинок і мансарду, в якій буде ігрова/кабінет/тренажерна зала/свій варіант. Кімната вийде сама по собі немаленька, тож похила стеля з'їсть небагато простору. До того ж втроєні меблі і цей простір зроблять функціональним.<br>
<img alt="roof" src="{{ url_for('static', filename='ruf1.jpg') }}" vspace=15px class = "picture"/><br>
А от другий приклад: ви хочете повноцінний двоповерховий будинок, але без мансарди. Тож стеля в кімнатах має бути відповідної висоти. При цьому кількість скатів даху може бути від 2 до ... (скільки фантазії вистачить). 
При цьому, багатоскатний дах з вулиці виглядає ну дуже гарно.<br> 
<img alt="roof" src="{{ url_for('static', filename='ruf2.jpg') }}" vspace=15px class = "picture"/><br>
Хочеться щоб як в кіно ті гарненькі будиночки. Але в кіно мало показують комунальний бік питання.
Часто густо при першій серйозній зливі вилазять проблеми на зламах. І чим більше зламів, тим більша вірогідність, що вам систематично доведеться лагодити покрівлю.
Звісно, якщо лише крапає і стеля не тече водоспадом, то захочеться на деякий час відкласти вирішення питання. Але грибок, цвіль того й чекають. І вивести їх потім буде дуже складно, а шкоду здоров'ю мешканців вже буде нанесено.
Висновок простий: зважуйте свої фантазії і мрії зі своїм гаманцем и вільним для ремонту часом.<br>
<div><br>
<p><b>Підсумуємо вище викладене:<br>
<ul type="disc">
<li>Для житлових кімнат: Південь, Південний Схід, Південний Захід - відмінно; Північ для технічних приміщень, глухих стін. Серед інших варіантів обираєм більш сонячні.</li>
<li>Кухня має окремі вимоги незалежно від географічного планування будинку.</li>
<li>Двоскатний дах - мінімум догляду і витрат. Із збільшенням скатів/зламів покрівлі збільшуються і проблеми по догляду, і витрати.</li>
</ul></b><br>
Цього буде досить, щоб ваша фантазія отримала певні межі, а ви змогли накреслити декілька оптимальних для вас варіантів.  
</div>
{% endblock %}
